extends ../form

block inputs
  input(
    class='input-field form-control'
    ng-model='portfolioItem.title'
    placeholder='Title'
    autofocus
  )

  input(
    class='input-field form-control'
    ng-model='portfolioItem.summary'
    placeholder='Summary'
  )

  input(
    class='input-field form-control'
    ng-model='portfolioItem.imageURL'
    placeholder='Image URL'
  )

  input(
    class='input-field form-control'
    ng-model='portfolioItem.playStoreURL'
    placeholder='Play Store URL'
  )

  input(
    class='input-field form-control'
    ng-model='portfolioItem.iTunesURL'
    placeholder='iTunes URL'
  )

  include ../tinymce
  mixin tinymce('portfolioItem.body')
