include errors

input(
  class='form-control input-field admin-input'
  ng-model='credentials.username'
  placeholder='Username'
)

input(
  class='form-control input-field admin-input'
  ng-model='credentials.password'
  placeholder='Password'
  type='password'
)

button(class='btn left-btn' ng-click='submit()') Submit
