include errors

form(ng-submit='submit()')
  input(
    class='form-control input-field admin-input'
    ng-model='credentials.username'
    placeholder='Username'
    autofocus
  )

  input(
    class='form-control input-field admin-input'
    ng-model='credentials.password'
    placeholder='Password'
    type='password'
  )

  input(
    class='btn left-btn'
    type='submit'
    value='Submit'
  )
