extends form

block header
  h2 Admin Login
  include divider

block inputs
  input(
    class='form-control input-field short-input'
    ng-model='credentials.email'
    placeholder='E-mail'
    autofocus
  )

  input(
    class='form-control input-field short-input'
    ng-model='credentials.password'
    placeholder='Password'
    type='password'
  )
