extends form

block inputs
  input(
    class='form-control input-field short-input'
    ng-model='credentials.username'
    placeholder='Username'
    autofocus
  )

  input(
    class='form-control input-field short-input'
    ng-model='credentials.password'
    placeholder='Password'
    type='password'
  )
