input(
  class='form-control input-field input-area admin-input'
  ng-model='admin.username'
  placeholder='Username'
)

input(
  class='form-control input-field input-area admin-input'
  ng-model='admin.password'
  placeholder='Password'
  type='password'
)

button(class='btn left-btn' ng-click='submit()') Submit
