h2 {{ formName }}

div(ng-show='error' class='alert alert-danger')
  p(class='warning') {{ error.message }}

input(
  class='post-form-title form-control'
  ng-model='post.title'
  placeholder='Put your post\'s title here...'
)

textarea(
  class='post-form-body form-control'
  ng-model='post.body'
  placeholder='Write your post here...'
  rows=12
)

br
button(class='btn left-btn' ng-click='submit()') Submit
