div(class='post-editor' ng-controller='postEditor')
  div(id='switcher-container' align='center')
    button(
      class='switcher'
      id='switcher-left'
      ng-click='switchTo("form")'
    ) {{ formAction }}

    button(
      class='switcher'
      id='switcher-right'
      ng-click='switchTo("preview")'
    ) Preview

  div(id='editor-form')
    include form

  div(id='editor-preview')
    include full
