div(ng-controller='postForm')
  h2 {{ formName }}
  include ../errors

  input(
    class='input-field form-control'
    ng-model='post.title'
    placeholder='Title'
    autofocus
  )

  input(
    class='input-field form-control'
    ng-model='post.imageURL'
    placeholder='Header Image URL'
  )

  textarea(
    ng-model='post.body'
    rows=16
    ui-tinymce='tinymceOptions'
  )

  div(class='tinymce-bottom-margin')
  button(class='btn left-btn' ng-click='submit()') Submit
