div(ng-controller='postForm')
  h2 {{ formName }}
  include ../errors

  input(
    class='post-form-title input-field form-control'
    ng-model='post.title'
    placeholder='Put your post\'s title here...'
  )

  input(
    class='post-form-image-url input-field form-control'
    ng-model='post.imageURL'
    placeholder='Put your post\'s header image URL here...'
  )

  textarea(
    ng-model='post.body'
    placeholder='Write your post here...'
    rows=12
    ui-tinymce='tinymceOptions'
  )

  button(class='btn left-btn' ng-click='submit()') Submit

  h2 Live Preview
  include full
