extends ../../form

block inputs
  input(
    class='input-field form-control'
    ng-model='post.title'
    placeholder='Title'
    autofocus
  )

  input(
    class='input-field form-control'
    ng-model='post.imageURL'
    placeholder='Header Image URL'
  )

  include ../../tinymce
  mixin tinymce('post.body', 'post.FormCtrl')
