extends ../../form

block inputs
  input(
    class='form-control input-field short-input'
    ng-model='email.content'
    placeholder='New E-mail'
    autofocus
  )

  input(
    class='form-control input-field short-input'
    ng-model='email.password'
    placeholder='Password'
    type='password'
  )
