extends ../../form

block inputs
  input(
    class='form-control input-field short-input'
    ng-model='password.current'
    placeholder='Current Password'
    type='password'
  )

  input(
    class='form-control input-field short-input'
    ng-model='password.new'
    placeholder='New Password'
    type='password'
  )

  input(
    class='form-control input-field short-input'
    ng-model='password.confirm'
    placeholder='Confirm Password'
    type='password'
  )
