extends ../switcher

block states
  button(
    class='switcher'
    id='switcher-left'
    ng-click='switchTo("change-email")'
  ) Change E-mail

  button(
    class='switcher'
    id='switcher-right'
    ng-click='switchTo("change-password")'
  ) Change Password
