extends ../../resource/form

block secondaryInputs
  input(
    class='input-field form-control'
    ng-model='resource.playStoreURL'
    placeholder='Play Store URL'
  )

  input(
    class='input-field form-control'
    ng-model='resource.iTunesURL'
    placeholder='iTunes URL'
  )
